$smPadding: 12px;
$midPadding: 24px;

.editor-preview {
  height: 100vh;
  width: 100vw;
  padding: $midPadding;
  box-sizing: border-box;
  .editor-preview-content {
    height: 100%;
    width: 100%;
    .editor-preview-content-header {
      text-align: center;
    }
  }
}